<form>
  <div class="form-group">
    Try to Acquire:
    
    <!-- <label for="target_item">Try to Acquire:</label> -->
    <input type="hidden" class="form-control" id="target_item">
  </div>
  <div class="form-group">
    <label for="my_item">Which candy would you like to give up?</label>
    <%= select_tag(:item_id, options_for_select(current_user.inventories.collect{|i| [i.item.name, i.item.id]})) %>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
